div#image-carousel {
  width: 40%;
  margin: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div#about-us-text {
  width: 40%;
  margin: 5%;
}

p {
  font-family: "Lato";
}

div.item-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 450px;
}

img {
  max-height: 400px;
  max-width: 450px;
}

.img-container {
}
