div#image-carousel {
  width: 40%;
  margin: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div#about-us-text {
  width: 40%;
  margin: 5%;
}

p {
  font-family: "Lato";
}
