div#accomodations-image {
  width: 40%;
  margin: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div#accomodations-text {
  width: 40%;
  margin: 5%;
}

div#accomodations-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

p {
  font-family: "Lato";
}

a#book-reservation {
  font-weight: bold;
}

a#book-reservation:hover {
  text-decoration: underline;
}

a.link {
  font-weight: bold;
}

a.link:hover {
  text-decoration: underline;
}
