div#ceremony-image {
  width: 40%;
  margin: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#ceremony-text {
  width: 40%;
  margin: 5%;
}

#ceremony-image img {
  width: 100%;
}

p {
  font-family: "Lato";
}

a.link {
  font-weight: bold;
}

a.link:hover {
  text-decoration: underline;
}
