div#ceremony-image {
  width: 40%;
  margin: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div#ceremony-text {
  width: 40%;
  margin: 5%;
}

div#ceremony-image img {
  width: 100%;
}

p {
  font-family: "Lato";
}
