/*My own normalize*/

body, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

li a {
  color: black;
  text-decoration: none;
}

li a:visited {
  color: black;
  text-decoration: none;
}

/*Navbar*/

div.mg-navbar {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(rgba(0,0,0,0.1), transparent);
  height: 3em;
}

ul.horiz {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.mg-navbar ul.horiz li {
  padding: 1em 1em;
  font-family: "Lato"
}

div.mg-navbar ul.horiz li:hover {
  font-weight: bold;
}

/*Landing Body*/

div.mg-container {
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/white-flower-background.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
}

div.landing-body {
  margin-top: 3em;
}

h1 {
  margin-top: 1.3em;
  margin-bottom: 0;
  font-weight: lighter;
  font-family: "Lato";
  font-size: 70pt;
}

h3 {
  font-family: "Lato";
  font-size: 32pt;
  font-weight: lighter;
  margin-top: 0.5em;
  margin-bottom: 0;
}

h4 {
  font-family: "Lato";
  font-size: 16pt;
  font-weight: lighter;
  margin-top: 0.5em;
}
