h4.carousel-link {
  font-style: italic;
  font-size: 14pt;
  margin-top: 10%;
  margin-bottom: 0;
  cursor: pointer;
}

li {
  cursor: pointer;
}

h4.carousel-link:hover {
  font-weight: bold;
}

div.wedding-party-title {
  text-align-last: left;
}

div#wedding-party-image {
  width: 40%;
  margin: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div#wedding-party-text {
  width: 40%;
  margin: 5%;
}

div#wedding-party-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

div#wedding-party-body {
  width: 100%;
}

h4.wedding-party-title {
  font-weight: bold;
  font-style: normal;
  margin: 0;
}

p {
  font-family: "Lato";
}

div.wedding-party-carousel-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

div.wedding-party-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  padding: 0 0 0 3%;
  margin: 8% 5% 8% 0;
  background-color: rgba(255, 255, 255, .7);
  text-align: left;
}

div.wedding-party-text p {
  margin-right: 5%;
  text-align: left;
  line-height: 1.2em;
  font-size: 10pt;
}

div.wedding-party-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-right: 5px;
}

div.wedding-party-image {
  background-image: url('http://placehold.it/350x350');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

div.item {
  height: 100%;
}

div#image-carousel, div.carousel.slide {
  height: 100%;
}

div.carousel-inner {
  height: 100%;
}
div.vert-separator {
  margin: 5% 5px;
}

ol.carousel-indicators {
  bottom: 0;
}

div.wedding-party-title ul.wedding-party-list {
  margin-left: 8%;
  font-family: "Lato";
  text-align: left;
  line-height: 1.5em;
  font-size: 16pt;
}

li:hover {
  font-weight: bold;
}

div#wed-1 {
  background-image: url('/assets/images/mary-crit-smith.jpg');
}

div#wed-2 {
  background-image: url('/assets/images/kate-fontneau.jpg');
}

div#wed-3 {
  background-image: url('/assets/images/kirsti-roehm.jpg');
}

div#wed-4 {
  background-image: url('/assets/images/katy-finney.png');
}

div#wed-5 {
  background-image: url('/assets/images/jocelyn-fernandes.jpg');
}

div#wed-6 {
  background-image: url('/assets/images/katie-brattebo.jpg');
}

div#wed-7 {
  background-image: url('/assets/images/chelsea-nelson.png');
}

div#wed-8 {
  background-image: url('/assets/images/kimberly-wistedt.jpg');
}

div#wed-9 {
  background-image: url('/assets/images/chris-kelly.jpg');
}

div#wed-10 {
  background-image: url('/assets/images/addison-nelson.jpg');
}

div#wed-11 {
  background-image: url('/assets/images/brian-ohara.jpg');
}

div#wed-12 {
  background-image: url('/assets/images/chris-thompson.jpg');
}

div#wed-13 {
  background-image: url('/assets/images/frank-fontneau.jpg');
}

div#wed-14 {
  background-image: url('/assets/images/josh-clark.jpg');
}

div#wed-15 {
  background-image: url('/assets/images/trent-williams.jpg');
}

div#wed-16 {
  background-image: url('/assets/images/vince-galluzzo.jpg');
}
