<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/home.css"> <!-- Link to home css -->
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/accomodations.css"> <!-- Link to home css -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'> <!-- Link to "Lato" font -->
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/bootstrap-carousel.css"> <!-- Link to bootstrap carousel css -->
    <script src="https://use.fontawesome.com/2096abb408.js"></script> <!-- Link to Font Awesome for icons on carousel -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script> <!-- link to jquery -->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script> <!-- link to jquery ui -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> <!-- Bootstrap for carousel -->
    <title>Nina & Danton</title>
  </head>
  <body>
    <div class=mg-container>
      <div class="mg-navbar">
        <ul class="horiz">
          <a href="/"><li>Home</li></a>
          <a href="/about_us"><li>About Us</li></a>
          <a href="/ceremony"><li>Ceremony</li></a>
          <a href="/reception"><li>Reception</li></a>
          <a href="/accomodations"><li>Accomodations</li></a>
          <a href="/wedding_party"><li>Wedding Party</li></a>
          <a href="/registry"><li>Registry</li></a>
        </ul>
      </div>
      <h2>Accomodations</h2>
      <div class="body-container">
        <div class="body">
          <div id="accomodations-image">
            <img src="/assets/images/mer3876ex-156593_md.jpg" alt="" />
          </div>
          <div class="vert-separator"></div>
          <div id="accomodations-text">
            <p>We are so excited that you will be celebrating with us!  We have a block of hotel rooms at the Le Meridien, Tampa.
              <a class="link" href="https://www.starwoodmeeting.com/events/start.action?id=1607058855&key=1E966C67">Book your reservation here.</a>
Or, you can call Le Meridien and ask for the: Fontneau / Carballa Wedding Block.</p>
            <a class="link" href="https://www.google.com/maps/place/Le+M%C3%A9ridien+Tampa/@27.949929,-82.459699,17z/data=!3m1!4b1!4m5!3m4!1s0x88c2c48bcabafcbd:0x834356d5f0591dc2!8m2!3d27.949929!4d-82.457505">
              <p>601 N Florida Ave</p>
              <p>Tampa, FL 33602</p>
            </a>
            <p>Phone: 813.221.9555</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src='../assets/javascripts/accomodations.js'></script>
  </body>
</html>
