<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/home.css"> <!-- Link to home css -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'> <!-- Link to "Lato" font -->
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script> <!-- link to jquery -->
    <script   src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script> <!-- link to jquery ui -->
    <title>Nina & Danton</title>
  </head>
  <body>
    <div class=container>
      <div class="navbar">
        <ul class="horiz">
          <a href="#"><li>Ceremony</li></a>
          <a href="#"><li>Reception</li></a>
          <a href="#"><li>Accomodations</li></a>
          <a href="#"><li>Wedding Party</li></a>
          <a href="#"><li>About Us</li></a>
          <a href="#"><li>Registry</li></a>
        </ul>
      </div>
      <div class="landing-body">
        <h1>Nina & Danton</h1>
        <h3>December 10, 2016</h3>
        <h4 id="remaining-days">Filled by JS</h4>
      </div>
    </div>
    <!-- Scripts -->
    <script src='../assets/javascripts/home.js'></script>
  </body>
</html>
