<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/home.css"> <!-- Link to home css -->
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/reception.css"> <!-- Link to home css -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css"> <!-- Link to "Lato" font -->
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/bootstrap-carousel.css"> <!-- Link to bootstrap carousel css -->
    <script src="https://use.fontawesome.com/2096abb408.js"></script> <!-- Link to Font Awesome for icons on carousel -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script> <!-- link to jquery -->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script> <!-- link to jquery ui -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> <!-- Bootstrap for carousel -->
    <title>Nina & Danton</title>
  </head>
  <body>
    <div class="mg-container">
      <div class="mg-navbar">
        <ul class="horiz">
          <a href="/"><li>Home</li></a>
          <a href="/about_us"><li>About Us</li></a>
          <a href="/ceremony"><li>Ceremony</li></a>
          <a href="/reception"><li>Reception</li></a>
          <a href="/accomodations"><li>Accomodations</li></a>
          <a href="/wedding_party"><li>Wedding Party</li></a>
          <a href="/registry"><li>Registry</li></a>
        </ul>
      </div>
      <h2>Reception</h2>
      <div class="body-container">
        <div class="body">
          <div id="reception-image">
            <img src="/assets/images/the-vault1.jpg" alt="" />
          </div>
          <div class="vert-separator"></div>
          <div id="reception-text">
            <p>Immediately following the Ceremony, join us for a Cocktail Hour at a Pocket Park next to The Vault.</p>
            <p>The wedding Reception will be held inside <a href="http://www.thevaulttampa.com/" class="link">The Vault</a> from 8:15pm until 1:30am.</p>
            <a href="https://www.google.com/maps/place/The+Vault/@27.9494542,-82.4584557,19.5z/data=!4m5!3m4!1s0x88c2c48bd316b6f7:0xc7b22f1cf9f627ab!8m2!3d27.9494193!4d-82.4584888" class="link">
              <p>611 N Franklin St</p>
              <p>Tampa, FL 33602</p>
            </a>
            <p>Dress is black tie optional.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src="../assets/javascripts/reception.js"></script>
  </body>
</html>
