<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/home.css"> <!-- Link to home css -->
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/wedding_party.css"> <!-- Link to home css -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'> <!-- Link to "Lato" font -->
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/bootstrap-carousel.css"> <!-- Link to bootstrap carousel css -->
    <script src="https://use.fontawesome.com/2096abb408.js"></script> <!-- Link to Font Awesome for icons on carousel -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script> <!-- link to jquery -->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script> <!-- link to jquery ui -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> <!-- Bootstrap for carousel -->
    <title>Nina & Danton</title>
  </head>
  <body>
    <div class=mg-container>
      <div class="mg-navbar">
        <ul class="horiz">
          <a href="/"><li>Home</li></a>
          <a href="/about_us"><li>About Us</li></a>
          <a href="/ceremony"><li>Ceremony</li></a>
          <a href="/reception"><li>Reception</li></a>
          <a href="/accomodations"><li>Accomodations</li></a>
          <a href="/wedding_party"><li>Wedding Party</li></a>
          <a href="/registry"><li>Registry</li></a>
        </ul>
      </div>
      <h2>Wedding Party</h2>
      <div class="body-container">
        <div class="body">
          <div id="wedding-party-body">
            <div id="image-carousel">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="9"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="10"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="11"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="12"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="13"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="14"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="15"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="16"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="17"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-title">
                        <h2>Bridesmaids</h2>
                        <ul class="wedding-party-list">
                          <li data-slide="1">Mary Crit Smith (Maid of Honor)</li>
                          <li data-slide="2">Kate Fontneau</li>
                          <li data-slide="3">Kirsti Roehm</li>
                          <li data-slide="4">Katy Finney</li>
                          <li data-slide="5">Jocelyn Fernandes</li>
                          <li data-slide="6">Katie Brattebo</li>
                          <li data-slide="7">Chelsea Nelson</li>
                          <li data-slide="8">Kimberly Wistedt</li>
                        </ul>
                        <h4 class="carousel-link" data-slide="9">Go to Groomsmen</h4>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-1"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>
                        <p>Mary and I met my very first day of Summer B freshman year. Many of you might know this story, but if you don’t, I will provide an abbreviated version. Our families, most specifically Frank and his best friend, David, set up a “play date” for us and introduced us at a midtown establishment. Mary Crit and I instantly bonded over both being die-hard Gator fans and nervous eighteen year olds embarking on our first big adventure. We have been inseparable ever since, spending holidays (shout out to our 4th of July crew!) and birthdays together every year. Mary is also credited with introducing my dashing groom, Danton, to me (also at a Midtown establishment. Would we have it any other way?). Mary recently graduated with her degree in Elementary Education from The University of Florida. Fun Facts about Mary Crit: She is an all-star basketball player and coach, she enjoys a fine aged Bourbon, and country and pop music concerts.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-2"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Kate Fontneau</h4>
                        <p>I met Kate years ago, back when she was known as Kate Allinson. Frank, my brother, brought Kate into all our lives. We didn’t know it then, but she was the most perfect addition to our family (just as Danton is too, of course!). Frank and Kate married in 2013, officially making Kate my sister-in-law; although, she had been acting as my unofficial sister and protector for years. Kate is a computer whiz (and designer of this gorgeous website) and works as a Sr. Account Manager for Critical Mass. Kate is always down for a glass of wine with me as we enjoy family trips, Gator football, and playing with our pups together. Fun Facts about Kate: She is an extraordinary baker, a twin, an artist with a published book, an aunt many times over and a puppy mommy to Duke.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-3"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Kirsti Roehm</h4>
                        <p>Kirsti Roehm was the girl next door, quite literally as we lived across from one another in Rawlings Hall (or Raw Raw as we affectionately called it). Kirsti is an outgoing person who has never met a stranger she couldn’t compel to be her friend. Kirsti and I solidified our friendship after a trip to Bourbon Street for the Sugar Bowl our freshman year of college. After that, we had an open door policy with our friendship (once again, literally, as we always had to leave our doors unlocked for easy access to each other’s closets and mini fridges). Kirsti and I remained close friends throughout college and have spent time together in both our hometowns, Wachula and Tampa. Kirsti is currently pursuing her doctorate in Optometry at The Ohio State University. Fun Facts about Kirsti: She is a big fan of face painting. She is a long-time nanny, actually a kid herself at heart. And, she once “Gator chomped” on the Jumbo Tron during an OSU football game.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-4"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Katy Finney</h4>
                        <p>Katy and I met my sophomore year of college. I believe it was a near-death experience that really showed her the perks of my friendship. I had been driving us home from dinner in Gainesville and had decided to make an illegal U-turn landing us firmly on a sidewalk- alarmingly close to hitting a light pole with oncoming traffic headed right towards the car! Long story short, no one ever accused me of being a great driver; but, Katy and I still laugh, thinking about that night. Katy currently resides in Atlanta, GA and works as an executive at Nielson Company. Fun Facts about Katy: she is a smarty-pants who graduated with her Bachelors and Master’s degree in under four years. She enjoys music festivals and Gasparilla Pirate Invasions</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-5"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Jocelyn Fernandes</h4>
                        <p>Jocelyn and I met during sorority recruitment my freshman year of college. She also lived on the second floor of Rawlings with me. Jocelyn and I walked to recruitment everyday together, consoling and confiding in each other. Jocelyn has always been a completely generous and kind person and never failed to share her closet (and amazing fashion sense!) with me. Later that year, Jocelyn took me to her home in St. Augustine, FL and showed me her charming hometown. Jocelyn’s passion for fashion has turned into a rewarding career as she works as a buyer for Dillard’s Department Store. She lives in Tampa, Fl. Fun Facts about Jocelyn: She is a Snapchat and Instagram queen. After spending a semester abroad in England, during undergrad and post grad, she has sworn up and down she will live abroad again; and, I for one, cannot wait to visit her in England someday!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-6"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Katie Brattebo</h4>
                        <p>Katie and I met freshman year of college during sorority recruitment. She is another member of my “Raw Raw crew” and has never missed a Fontneau tailgate! To become good friends with Katie I had to force myself to study my freshman year. We spent many nights in the study room at Rawlings watching the sunrise. Sometimes, in our delirious all-nighter states, we would dance to oldies music and help Kirsti Roehm pull pranks on our Hall Residents. Katie is currently in her first year of Dental School at the University of Florida and will one day provide all of us with free dental work (guess all those nights studying paid off!). Fun Facts about Katie: She may not be a foodie, but she enjoys a good meal. She is an all-star athlete and marathon runner. She has spent more time in a lab than she would like to admit!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-7"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Chelsea Nelson</h4>
                        <p>I met Chelsea years ago during my first summer at UF. Little did I know, when I met her, that someday I would marry her cousin! Chelsea and I quickly bonded and I am so lucky to have such a great friend to spend holidays with in Tampa. Some of my fondest memories are eating Greek food at Christmas time and laughing hysterically over wine with my future family. Chelsea recently graduated from Law School at Florida State University, but we all forgive her for that because she promised that she would never cheer for the enemy and always carries a Gator coozie to every FSU tailgate! Fun Facts about Chelsea: She is very competitive (and good) at family game night. She loves to bake treats from Pinterest and her favorite food is cotton candy.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-8"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Kimberly Wistedt</h4>
                        <p>Kimberly and I met summer of my freshman year. She had been studying fashion design at Savannah College of Art and Design but she was transferring to UF! It was good luck for me since she quickly became one of my closest friends, going on to join Alpha Chi with me. We somehow survived living in the smallest room at Alpha Chi together and we left that year better friends than ever. We spent many nights in, watching movies and TV shows we loved. All of those nights, talking about actors, turned into a fruitful career for Kimberly. She is now a successful casting associate! She lives in Atlanta, GA with her adorable puppy, Henry. Fun Facts about Kimberly: She is a fantastic artist and all around creative person. She enjoys the finer things in life like swanky hotels and a glass of Rose. She went by the nickname “Kimbo Slice” in college.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-title">
                        <h2>Groomsmen</h2>
                        <ul class="wedding-party-list">
                          <li data-slide="10">Chris Kelly (Best Man)</li>
                          <li data-slide="11">Addison Nelson</li>
                          <li data-slide="12">Brian O'Hara</li>
                          <li data-slide="13">Chris Thompson</li>
                          <li data-slide="14">Frank Fontneau</li>
                          <li data-slide="15">Josh Clark</li>
                          <li data-slide="16">Trent Williams</li>
                          <li data-slide="17">Vince Galluzzo</li>
                        </ul>
                        <h4 class="carousel-link" data-slide="0">Go to Bridesmaids</h4>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-9"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Chris Kelly (Best Man)</h4>
                        <p>Chris and I met my freshman year of college at UF and we quickly became good friends. Chris is from Palm Harbor, FL. Chris has a wicked sense of humor and is a great story-teller (look out for his speech, he’s been preppin’!). Throughout college and the years after we have shared a lot of great times including road trips: to see the Gators play, to NASCAR races, to New Orleans. And, there were many weekend trips to Washington D.C. when I lived in Baltimore. Chris lives in Atlanta, GA with his wife, Kyla, and recently completed his master’s degree at Duke University. He works as a consultant in network security. Fun Fact: During a friendly boxing match Chris once gave me a black eye the day before our fraternity’s formal.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-10"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Addison Nelson</h4>
                        <p>Addison is my cousin and I have known him my entire life. Addison being only 10 months older than me was like a brother to me growing up. We have always been there for each other, from trick or treating as kids to living in Atlanta after undergrad, Addison for chiropractic school and me for my first job. We never were too far apart from one another. Addison received his doctorate in chiropractic and is now practicing in Pawleys Island, South Carolina. Fun Fact: Addison became interested in becoming a chiropractor after being treated for wrestling injuries during high school. He currently helps coach local high school wrestlers and offers them chiropractic care to help them perform to their optimal ability.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-11"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Brian O'Hara</h4>
                        <p>Brian is another buddy I met freshman year at UF. Throughout college Brian and I spent a lot of time together at the midtown bars, hanging out at the fraternity house, and attending Gasparilla weekends back home in Tampa. Brian currently lives in Boston with his wife, Erin, and their bright pup, Sally. Brian has recently begun a Fellowship in Cardiac Anesthesiology. Fun Fact: Despite all culinary choices in New Orleans, Brian chose for us to eat at Krystal Burger on Bourbon Street the first night of his bachelor party.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-12"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Chris Thompson</h4>
                        <p>Chris and I became friends during freshman year at UF and were roommates during junior year. As you can imagine, we became very close, sharing a bedroom together along with his 200 lb dog, Maximus. We have gone on a lot of road trips together to watch the Gators play and have had countless good times together since graduating from college. Chris currently lives in Orlando and works as a civil engineer with Atkins. Fun Fact: Chris and his cousin Mary are responsible for Nina and me meeting for the first time at Grog House following my senior year of college.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-13"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Frank Fontneau</h4>
                        <p>Frank is Nina’s older brother and has quickly become a good friend. Since Nina and I have started dating, Frank and I have spent countless tailgates together in Gainesville cheering on the Gators, going on Fontneau family trips, and just hanging out for various occasions in Tampa and Orlando usually listening to the best of yacht rock music and enjoying libations prepared by Frank. Frank lives with his wife, Kate, and their Boston Terrier, Duke, in Winter Park, FL and is a management consultant. Fun Fact: Frank and I once played on opposing football teams in high school.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-14"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Josh Clark</h4>
                        <p>Josh and I have known each other since elementary school, in fact it feels like we’ve been friends forever. Throughout the years we have built a lot of great memories including playing high school football together and going on fishing trips. Despite attending college in different cities, and Josh being a die-hard Florida State fan, we have been able to remain great friends, who are always able to pick up right where we left off. Josh currently lives in Tampa, is a financial planner, and is recently engaged to Tara. Fun Fact – Josh was our team’s kicker/punter in high school and he was known for his pre-kick ritual of “unleashing the monster” (I’ll let that exact ritual remain a mystery) prior to every kick.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-15"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Trent Williams</h4>
                        <p>Trent and I met the first day of college as random roommates. We ended up joining the same fraternity that semester and we have been friends ever since. After college, Trent moved back to Virginia. We got together a lot as we rallied our UF Friends for football weekends, road trips and to just hang out while I was living in Baltimore. Trent currently lives in Arlington, Virginia with his wife, Nicole, and he works as a consultant in the construction industry. Fun Fact: Trent once drove us to Georgia as part of a scavenger hunt. We ended up missing the intended area and had to drive in reverse down I-75 for about a mile in between passing packs of cars.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-16"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Vince Galluzzo</h4>
                        <p>Vince is another great friend from my years at UF. I met Vince as a freshman while he was my pledge class pledge educator. We shared a lot of fun times in Kappa Sigma. While I was living in Baltimore, Vince always welcomed me with an open couch to crash on during my weekend visits to DC. Vince and I have had a lot of colorful live experiences throughout the years, including backpacking and football trips. Vince currently lives in Washington, D.C. and is a patent lawyer and is recently engaged to Rachel. Fun Fact: Vince and I once went backpacking through the Shenandoah Valley and we grossly under estimated how cold it was going to be in the mountains. We ended up nearly freezing to death and all of our water packs and filter lines froze leaving us with barely any water to finish the trip.</p>
                      </div>
                    </div>
                  </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src='../assets/javascripts/wedding_party.js'></script>
  </body>
</html>
