<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/home.css"> <!-- Link to home css -->
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/wedding_party.css"> <!-- Link to home css -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'> <!-- Link to "Lato" font -->
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/bootstrap-carousel.css"> <!-- Link to bootstrap carousel css -->
    <script src="https://use.fontawesome.com/2096abb408.js"></script> <!-- Link to Font Awesome for icons on carousel -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script> <!-- link to jquery -->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script> <!-- link to jquery ui -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> <!-- Bootstrap for carousel -->
    <title>Nina & Danton</title>
  </head>
  <body>
    <div class=mg-container>
      <div class="mg-navbar">
        <ul class="horiz">
          <a href="/"><li>Home</li></a>
          <a href="/about_us"><li>About Us</li></a>
          <a href="/ceremony"><li>Ceremony</li></a>
          <a href="/reception"><li>Reception</li></a>
          <a href="/accomodations"><li>Accomodations</li></a>
          <a href="/wedding_party"><li>Wedding Party</li></a>
          <a href="/registry"><li>Registry</li></a>
        </ul>
      </div>
      <h2>Wedding Party</h2>
      <div class="body-container">
        <div class="body">
          <div id="wedding-party-body">
            <div id="image-carousel">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="9"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="10"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="11"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="12"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="13"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="14"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="15"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="16"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="17"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-title">
                        <h2>Bridesmaids</h2>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-1"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>
                        <p>Mary and I met my very first day of Summer B freshman year. Many of you might know this story, but if you don’t, I will provide an abbreviated version. Our families, most specifically Frank and his best friend, David, set up a “play date” for us and introduced us at a midtown establishment. Mary Crit and I instantly bonded over both being die-hard Gator fans and nervous eighteen year olds embarking on our first big adventure. We have been inseparable ever since, spending holidays (shout out to our 4th of July crew!) and birthdays together every year. Mary is also credited with introducing my dashing groom, Danton, to me (also at a Midtown establishment. Would we have it any other way?). Mary recently graduated with her degree in Elementary Education from The University of Florida. Fun Facts about Mary Crit: She is an all-star basketball player and coach, she enjoys a fine aged Bourbon, and country and pop music concerts.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-2"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Kate Fontneau</h4>
                        <p>I met Kate years ago, back when she was known as Kate Allinson. Frank, my brother, brought Kate into all our lives. We didn’t know it then, but she was the most perfect addition to our family (just as Danton is too, of course!). Frank and Kate married in 2013, officially making Kate my sister-in-law; although, she had been acting as my unofficial sister and protector for years. Kate is a computer whiz (and designer of this gorgeous website) and works as a Sr. Account Manager for Critical Mass. Kate is always down for a glass of wine with me as we enjoy family trips, Gator football, and playing with our pups together. Fun Facts about Kate: She is an extraordinary baker, a twin, an artist with a published book, an aunt many times over and a puppy mommy to Duke.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-3"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Kirsti Roehm</h4>
                        <p>Kirsti Roehm was the girl next door, quite literally as we lived across from one another in Rawlings Hall (or Raw Raw as we affectionately called it). Kirsti is an outgoing person who has never met a stranger she couldn’t compel to be her friend. Kirsti and I solidified our friendship after a trip to Bourbon Street for the Sugar Bowl our freshman year of college. After that, we had an open door policy with our friendship (once again, literally, as we always had to leave our doors unlocked for easy access to each other’s closets and mini fridges). Kirsti and I remained close friends throughout college and have spent time together in both our hometowns, Wachula and Tampa. Kirsti is currently pursuing her doctorate in Optometry at The Ohio State University. Fun Facts about Kirsti: She is a big fan of face painting. She is a long-time nanny, actually a kid herself at heart. And, she once “Gator chomped” on the Jumbo Tron during an OSU football game.</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-4"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-5"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-6"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 7 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-7"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 8 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-8"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 9 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-title">
                        <h2>Groomsmen</h2>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-9"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 10 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-10"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 11 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-11"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 12 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-12"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 13 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-13"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 14 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-14"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 15 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-15"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 16 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="wedding-party-carousel-content">
                      <div class="wedding-party-image-container">
                        <div class="wedding-party-image" id="wed-16"></div>
                      </div>
                      <div class="wedding-party-text">
                        <h4 class="wedding-party-title">Mary Crit Smith (Maid of Honor)</h4>

                        <p>Slide 17 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita numquam eos dignissimos accusantium aut iure, sequi recusandae libero asperiores soluta doloremque laudantium dolor maxime provident atque aliquam voluptate consequuntur enim!</p>
                      </div>
                    </div>
                  </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src='../assets/javascripts/wedding_party.js'></script>
  </body>
</html>
